<aside>
  <li><del><a href="/">home</a></del></li>
  <li><a href="/students">students</a></li>
  <li><a href="/students/new">add</a></li>

  <li><a href="/orders">orders</a></li>
  <li><a href="/orders/new">add</a></li>
</aside>
