/node_modules
/package-lock.json
/_README.md

/sql

/views/others
/services/other
/services/_studentService.js
/controllers/other
/models/other
/models/school.js
/models/person.js
/models/trainer.js
/models/course.js
/models/assignment.js
/models/_student.js
