* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-image: radial-gradient(#444df7f5 1px, #e0e0e0 1px);
  background-size: 26px 26px;
}

del {
  color: #e0e0e0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 150px 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1fr 1fr 1fr 0.1fr;
  grid-template-areas: 
  "nav  header header header"
  "nav  main   main   main"
  "nav  main   main   main"
  "nav  main   main   main"
  "nav  footer footer footer";
}

a {
  color: rgb(82, 128, 255);
  text-decoration: none;
}

h2 {
  margin: 70px 0;
}

pre {
  margin-top: 40px;
  padding: 10px;
}

li {
  display: flex;
  width: 100%;
  padding: 8px 14px;
}

li p {
  width: 100%;
  padding-right: 60px;
}

li a {
  margin: 0px 4px;
}

a {
  padding: 4px;
}


/* =================== */

header {
  grid-area: header;
  padding: 30px;
  background-color: #222121;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
}

header a {
  color: #e0e0e0;
}

header {
  padding-left: 170px;
  z-index: 0;
}

header h1 {
  color: #e0e0e0;
}

header p {
  color: #e0e0e0;
}

/* =================== */

nav {
  height: 100%;
  grid-area: nav;
  background-color: rgb(0, 81, 255);
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
}


nav li {
  justify-content: center;
}

nav a {
  color: #e0e0e0;
}

nav li {
  margin-top: -10px ;
  font-size: 80px; 
}


/* =================== */

table {
  background-color: rgb(211, 220, 228);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
  margin: 10px auto;
  width: auto;
}

thead {
  font-size: 18px;
  color: rgb(0, 81, 255);
  border-bottom: 1px solid #ddd;
}

table thead {
  background-color: rgb(0, 81, 255);
  color: white;
}

table td, table th {
  padding: 18px;
}

table tr:nth-child(even) {
  background-color: rgb(173, 197, 255);
}

table i {
  font-size: 18px;
}

td:last-child {
  border-left: 1px solid #ddd;
}

td:first-child {
  border-right: 1px solid #ddd;
} 

th, td {
  text-align: left;
}

main {
  grid-area: main;
  padding: 20px;
}


/* =================== */

main h3 {
  background-color: #0045ce;
  padding: 34px 30px;
  font-size: 16px;
  color: #e0e0e0;
  margin-bottom: 22px;
}


/* =================== */

.express {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(211, 220, 228);
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);
  width: 500px;
  margin: 140px auto;
}

.express h1 {
  margin-top: 20px;
  padding: 8px;
}

.express p {
  padding: 4px;
}

.big-blue {
  width: 100%;
  padding: 35px 0px ;
  background-color: #0045ce;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);
}

.small-blue {
  width: 100%;
  padding: 10px 0px ;
  background-color: #0045ce;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);
}


/* =================== */

.index-links {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.index-links a {
  color: #0045ce;
  padding: 8px;
  display: block;
}

i:hover ,
.index-links > a:hover {
  transition: 0.3s;
  color: #91b6ff;
}


/* =================== */

.error {
  color: #DA1E28 !important;
}
.errorb {
  background-color: #DA1E28 !important;
}

.error:hover {
  border-radius: 4px;
  background-color: #da1e271e;
  transition: 0.3s;
}
.success {
  color: #24A148 !important; 
}
.successb {
  background-color: #24A148 !important; 
}

.success:hover {
  transition: 0.3s;
  border-radius: 4px;
  background-color: #24a14738; 
}


/* =================== */

footer {
  grid-area: footer;
  padding: 10px;
  background-color: #222121;
  display: flex;
  justify-content: flex-end;
  color: #e0e0e0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer i {
  color: rgb(128, 168, 255);
}

footer p {
  font-size: 11px;
}

footer a {
  color: #e0e0e0;
}


/* =================== */

.add-entry {
  color: rgb(0, 81, 255);
  position: fixed;
  bottom: 70px;
  left: 180px;
  z-index: 2000;
  font-size: 50px;
}

form {
  width: 300px;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 220, 228);
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);
  padding: 4px;
}

form input, 
select {
  width: 100%;
  padding: 12px 0px;
  margin-bottom: 18px;
  border-bottom: 1px solid grey;
  outline: none;
}

form input[type="submit"] {
  padding: 20px 0px;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 0px;
  background-color: #0045ce;
  color: #e0e0e0;
  border: none;
}

form input[type="submit"]:hover {
  opacity:80%;
  transition: 0.3s;
  outline: none;
}

input[type="date"] {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  padding: 14px 0px; /
}

input[type="text"] {
  padding: 15px 0px;
}

input {
  text-indent: 10px;
}

label {
  width: 100%;
}
