<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a Student</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <h3>Edit a Student</h3>
    <form action="/students/update" method="post">
        First Name:<input type="text" name="fname" id="" value=<%= result.student_first %>><br>
        Last Name:<input type="text" name="lname" id="" value=<%= result.student_last %>><br>
        Hobby:<input type="text" name="hobby" id="" value=<%= result.hobby %> size=25 maxlength=25><br>
        <input type="text" name="id" id="" value=<%= result.id %> hidden readonly>
        <input type="submit" value="Update Student">
    </form>
    <a href="/students">Back to Students</a>
</body>
</html>
