<link rel="stylesheet" href="/style/style.css">
<img src="/images/error_404.jpg" alt="error404" srcset="">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= //error.stack %></pre>
<script src="/javascripts/script.js"></script>
