<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('partials/head')  %> 

    <title>Insert new Student</title>
</head>
<body>
  <div class="container"> 

    <%- include('partials/nav')  %> 
    
    <%- include('partials/aside')  %> 
    
    <main>
      
      <form action="/students" method="post">
        <h3>Insert new Student</h3>
        First Name: <input type="text"   name="fname" id=""><br>
        Last Name:  <input type="text"   name="lname" id=""><br>
        Hobby:      <input type="text"   name="hobby" id=""><br>
                    <input type="submit" name="submit" id="" value="Add New Student">
      </form>

    </main>
      
    <%- include('partials/footer')  %> 
    
  </div> 
    
</body>
</html>

