<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('../partials/head')  %> 

  </head>
  <body>
    <div class="container"> 

      <header>
        <%- include('../partials/header', {title: 'Student insert'})  %> 
        <p>Form</p>
      </header>
      
        <%- include('../partials/nav')  %> 

      <main>
        
        <form action="/students" method="post">
          <h3>Insert New Student</h3>
          <label for="first_name">First name</label>
          <input type="text" name="first_name" id="first_name" pattern="[A-Za-z]{2,25}" placeholder="Insert firstname" required><br>
          <label for="last_name">Last name</label>
          <input type="text" name="last_name" id="last_name" pattern="[A-Za-z]{2,25}" minlength="2" maxlength="25" placeholder="Insert lastname" required><br>
          <label for="tuition_fees">Tuition fees</label>
          <input type="text" name="tuition_fees" id="tuition_fees" pattern="[0-9]{1,4}" max="2500"  placeholder="Insert tuition fees" required><br>
          <label for="date_of_birth">Date of birth</label>
          <input type="date" name="date_of_birth" id="date_of_birth" min="1950-01-01" max="2003-01-01"  placeholder="Insert birthdate" required><br>
          <input type="submit" value="Add">
        </form>
        
      </main>
        
      <%- include('../partials/footer')  %> 
    
    </div> 
    
  </body>
</html>

