<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%%%%</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet" />
    <link rel="icon" href="../public/images/favicon.png" />
</head>
<body>
    <div class="container">

        <nav>
            <div class="nav-class">
                <h1>%%%%%</h1>
                <p>Welcome to  %%%%%</p>
                <p>%%%%%</p>
            </div>
        </nav>

        <aside>
            <li><a href="/">home</a></li>
            <li><a href="/students">students</a></li>
            <li><a href="/students/new">add</a></li>

            <li><a href="/orders">orders</a></li>
            <li><a href="/orders/new">add</a></li>
        </aside>

        <main>
            <h3>%%%%%</h3>
            <form action="/students/update" method="post">
                First Name:<input type="text" name="fname" id="" value=<%= result.student_first %>><br>
                Last Name:<input type="text" name="lname" id="" value=<%= result.student_last %>><br>
                Hobby:<input type="text" name="hobby" id="" value=<%= result.hobby %> size=25 maxlength=25><br>
                <input type="text" name="id" id="" value=<%= result.id %> hidden readonly>
                <input type="submit" value="Update Student">
            </form>
        </main>

        <footer>
            <p>small project , <a href="/" target="/">HOME</a></p>
        </footer>
        
    </div>
    <!-- <script src="../public/javascripts/script.js"></script> -->
</body>
</html>
